
 /* cart.css */
.cart {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    padding: 100px 20px;
  }
  
  .shoppingCart {
    flex: 1;
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .cartItem {
    display: flex;
    margin: 20px 0; 
    position: relative;
  }
  
  .cartItem img {
    width: 150px;
    height: 150px;
    margin-right: 20px;
    object-fit: cover;
    border-radius: 8px;
  }
  
  .details {
    flex: 1;
    font-size: 20px;
    font-weight: 600;
  }
  
  .remove {
    background-color: #ff5656;
    color: #fff;
    border: none;
    padding: 8px;
    cursor: pointer;
    border-radius: 4px;
    position: absolute;
    top: 0;
    right: 10px;
  }
  
  .cartSummary {
    flex: 0 0 300px;
    margin-left: 20px;
    font-size: 20px;
    font-weight: 600;
    padding: 20px;
    background-color: #f8f8f8;
  }
  
  .form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 8px;
  }
  
  input {
    margin-bottom: 16px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .success-message {
    margin-top: 20px;
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border-radius: 4px;
  }
  .form{
    width: 100%;
  }
  .form input{
    width: 100%;
  }
  .desingUrl{
    display: block;
    width: 50%;
  }
  .textarea{
    display: block;
    height: 100px;
    width: 100%;
    margin-bottom: 16px;
  }
