.cart {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    padding: 60px 20px;
  }
  
  .shoppingCart {
    flex: 1;
    padding: 20px;
    background-color: #f8f8f8;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .cartItem {
    display: flex;
    margin: 20px 0;
    position: relative;
  }
  
  .cartItem img {
    width: 150px;
    height: 150px;
    margin-right: 20px;
    object-fit: cover;
    border-radius: 8px;
  }
  
  .details {
    flex: 1;
    font-weight: 600;
  }
  
  .remove {
    background-color: #ff5656;
    color: #fff;
    border: none;
    padding: 8px;
    cursor: pointer;
    border-radius: 4px;
    position: absolute;
    top: 0;
    right: 10px;
  }
  
  .cartSummary {
    flex: 0 0 300px;
    margin-left: 20px;
    font-weight: 600;
    padding: 20px;
    background-color: #f8f8f8;
    height: 200px;
  }
  
  input {
    margin-bottom: 16px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .placeOrder {
    width: 100%;
    margin-top: 16px;
  }
  
  .orderForm {
    width: 50%;
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 30px auto;
  }
  
  .orderForm h2{
    text-align: center;
  }
  
  .orderForm h3{
    margin-bottom: 20px;
  }
  
  .orderForm p{
    text-align: center;
    margin-bottom: 20px;
  }
  
  .orderForm input {
    display: block;
    width: 100%;
  }
  
  .placeOrder,
  .submitOrder{
    width: 100%;
  }
  @media only screen and (max-width: 767px) {
    .cart {
      flex-direction: column;
    }
  }