.top{
    margin : 30px 0;
    text-align: center;
    font-size: 20px;
}
.top h1{
    font-weight: 400;
}
.top h3{
    font-weight: 400;
}
.backgroundImage{
    height: 70vh;
    width: 100%;
}
.nav{
    height: 7vh;
    width: 100%;
    box-shadow: 0 0px 8px rgba(0, 0, 0, 0.2);
}
.nav ul{
    height: 100%;
    display: flex;
    margin: 0 auto;
    list-style: none;
    padding: 0 60px;
}

.nav ul li {
    position: relative; /* Add relative positioning to the list item */
    flex: 1;
    margin-right: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s; /* Increased duration for a smoother transition */
    font-weight: 600;
    text-align: center;
}

.nav ul li::before {
    content: ''; 
    position: absolute;
    bottom: 0;
    left: 50%; 
    transform: translateX(-50%); 
    width: 0;
    height: 3px;
    background-color: rebeccapurple;
    transition: width 0.3s; 
}

.nav ul li:hover::before {
    width: 100%; 
}

.cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 30px;
    padding: 0 100px;
}
.cards a{
    text-decoration: none;
}
.card{
    transition: 0.3s;
    height: 500px;
    width: 350px;
    position: relative;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    cursor: pointer;
}
.card .cardImg{
    height: 50%;
}
.card:hover{
    transform: scale(1.02);
}
.card .description{
    color: black;
    font-size: 16px;
    padding: 16px;
}
.card .description .cardName{
    display: flex;
    justify-content: space-between;
}
.card .description .cardName h3{
    font-weight: 500;
}
.card .description .price{
    font-weight: 500;
    opacity: 0.8;
    background-color: white;
    padding-left: 0;
    margin-bottom: 8px;
}
.card .description .desc{
    opacity: 0.7;
}
.card .description .link{
    position: absolute;
    bottom: 16px;
    transition: 0.3s;
}
.card .description .link:hover{
    font-weight: 600;
}
    @media only screen and (max-width: 1024px) {
    .cards{
        grid-template-columns: repeat(2, 1fr); 
        padding: 50px 70px;
    }
    }
    
    @media only screen and (max-width: 768px) {
    .cards{
        grid-template-columns: repeat(1, 1fr); 
        padding: 50px 26px;
    }
    }



    