.head{
    height: 60vh;
    padding: 50px 0 0 100px;
    font-size: 30px;
    color: black;
}
.head h1{
    width: 40%;
    font-weight: 500;
}
.head h3{
    width: 40%;
    font-weight: 300;   
}
.categories{

}
.categories .cards{
    height: 70vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.categories .cards img{
    height: 100%;
    width: 50%;
}
.categories .caption{
    height: 100%;
    width: 50%;
    font-size: 20px;
    color: black;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 60px;
}
.categories .caption h1{
    font-weight: 400;
}
.categories .caption p{
    opacity: 0.7;
}
