.productDetails{
    height: 90vh;
    width: 100vw;
    display: flex;
    align-items: center;
    padding: 0 160px;
}
.productDetails .productImage{
    height: 70%;
    width: 55%;
    margin-right: 60px;
}
.productDetails .productImage img{
    border-radius: 10px;
}
.productDetails .nextPrev{
    display: flex;
    justify-content: space-between;
    width: 25%;
    margin: 16px auto;
}
.nextPrev div{
    width: 80px;
    height: 50px;
    background-color: rebeccapurple;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s;
    user-select: none;
}
.nextPrev div:hover{
    transform: scale(1.05);
}

.productDetails .description{
    height: 70%;
    width: 36%;
    background-color: rebeccapurple;
    color: white;
    padding: 32px;
}
.productDetails .description h1{
    font-weight: 400;
    margin-bottom: 8px;
}
.productDetails .description h3{
    margin-bottom: 16px;
}
.productDetails .description p{
    font-size: 20px;
    opacity: 0.7;
    margin-bottom: 16px;
}
.productDetails .description button{
    height: 60px;
    width: 100%;
    border: none;
    cursor: pointer;
    font-size: 20px;
    border-radius: 6px;
    transition: 0.3s;
    margin-bottom: 16px;
}
.productDetails .description button:hover{
    transform: scale(1.03);
}
