body,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Arial', sans-serif;
}

.mainContent {
  padding: 0 20px;
}

.backgroundImage {
  height: 50vh; 
}

.nav {
  height: auto; 
  width: 70%;
  margin: 15px auto 15px auto; 
  display: flex;
  justify-content: center;
}

.nav ul {
  display: flex;
  flex-wrap: wrap; 
  margin: 0 auto;
  list-style: none;
}

.nav ul li {
  position: relative;
  padding: 8px; 
  cursor: pointer;
  transition: 0.3s;
  font-weight: 600;
  text-align: center;
  margin-right: 6px;
}

.nav ul li::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 3px;
  background-color: #13274F;
  transition: width 0.3s;
}

.nav ul li:hover::before {
  width: 100%;
}

.nav ul li.selected::before {
  width: 100%;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
  gap: 20px;
  padding: 20px 60px;
}

.card {
  width: 100%; 
  transition: 0.3s;
  height: auto;
  position: relative;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.card .cardImg {
  height: 50%;
}

.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card .description {
  color: black;
  font-size: 14px; 
  padding: 12px;
}

.card .description .cardName {
  display: flex;
  justify-content: space-between;
}

.card .description .cardName h4 {
  font-weight: 500;
  font-size: 18px;
}

.card .description .price {
  font-weight: 500;
  opacity: 0.8;
  background-color: white;
  padding-left: 0;
  margin-bottom: 4px; 
}

.card .description .desc {
  opacity: 0.7;
}

.card .link{
  position: absolute;
  bottom: 12px;
  left: 12px;
  font-size: 18px;
  color: green;
}

@media only screen and (max-width: 480px) {
  .nav ul li {
    padding: 8px;
  }

  .cards {
    grid-template-columns: 1fr; 
  }

  .card {
    height: auto;
  }
}
